body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 10vw;
}
.header {
  display: flex;
  flex-direction: row;
  width: 60vw;
  align-items: center;
  justify-content: space-between;
}
.header .headerImgContainer .headerImg {
  max-width: 200px;
}
.header .headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}
.header .menu {
  display: flex;
  gap: 10px;
}
.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

.body .sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 49.5vh;
  background-color: #f5f5f5;
  border-right: 1px solid #e5e5e5;
}

.body .sideBar .itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  gap: 5px;
}
.body .sideBar .inputContainer {
  display: flex;
  height: 8vh;
  width: 200px;
  background-color: gray;
  align-items: center;
  border-radius: 4px 4px 0px 0px;
}

.body .sideBar .item {
  display: flex;
  text-decoration: none;
  text-align: center;
  color: #000;
  font-weight: bold;
  background-color: white;
  width: 200px;
}

.body .sideBar .item:hover {
  background-color: var(--light);
}
.imageContainer {
  height: 49.5vh;
}
.imageContainer img {
  width: 100%;
  height: 100%;
}
.products {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 100%;
}
.new {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vh;
}
.sectionTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
#newProducts {
  background-color: darksalmon;
}
ul li {
  float: left;
  width: 33.3%;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.figure img {
  width: 30%;
  height: auto;
}
.caption {
  font-size: 15px;
  color: black;
}
#topSellingProducts {
  background-color: cadetblue;
}

.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 10px;
  align-items: center;
  background-image: url("../img/fundo-rodape.png");
  justify-content: space-between;
}

.footer .iconsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 10px 0 10px;
}
